nav { 
    .nav-item{ 
        margin: 0px 0px 0px 50px ;
        display: inline;

        a { 
            cursor: pointer; 
            text-decoration: none; 
            color: black;
            font-family: Arial;
            font-size: 24px;
            &:hover { color: lightgrey; }
        }
    }
}

.main-nav {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
}

.logo {
    padding: 5px 20px 5px 30px;
}